<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ordisoftware.TwitterManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TwitterManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ordisoftware.TwitterManager.Properties.Settings.ConnectionString"
            connectionString="Dsn=Twitter-Manager" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Ordisoftware.TwitterManager.Properties.Settings>
      <setting name="MainFormSplitterDistanceAllRecipients" serializeAs="String">
        <value>852</value>
      </setting>
      <setting name="MainFormSplitterDistanceTweetsReplies" serializeAs="String">
        <value>182</value>
      </setting>
      <setting name="MainFormSplitterDistanceRTs" serializeAs="String">
        <value>370</value>
      </setting>
      <setting name="MainFormEditSearchResultsShowInForm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteOnlyLocalMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitterKey" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitterSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitterBackUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="SearchUser" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchInMessage" serializeAs="String">
        <value>True</value>
      </setting>
    </Ordisoftware.TwitterManager.Properties.Settings>
    <TwitterManager.Properties.Settings>
      <setting name="MainFormSplitterDistanceAllRecipients" serializeAs="String">
        <value>852</value>
      </setting>
      <setting name="MainFormSplitterDistanceTweetsReplies" serializeAs="String">
        <value>182</value>
      </setting>
      <setting name="MainFormSplitterDistanceRTs" serializeAs="String">
        <value>370</value>
      </setting>
      <setting name="MainFormEditSearchResultsShowInForm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Dsn=Twitter-Manager</value>
      </setting>
      <setting name="DeleteOnlyLocalMode" serializeAs="String">
        <value>False</value>
      </setting>
    </TwitterManager.Properties.Settings>
  </userSettings>
</configuration>
