<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ordisoftware.TweetsInspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Ordisoftware.TweetsInspector.Properties.Settings.ConnectionString" connectionString="Dsn=Tweets-Inspector" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.1395" newVersion="2.0.7.1395" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.1395" newVersion="2.0.7.1395" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Ordisoftware.TweetsInspector.Properties.Settings>
      <setting name="DeleteOnlyLocalMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConsumerKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="ConsumerBackUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="SearchInRecipients" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchInMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartupConnectAction" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="SingleClickUserFilter" serializeAs="String">
        <value>False</value>
      </setting>
    </Ordisoftware.TweetsInspector.Properties.Settings>
  </userSettings>
</configuration>